[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
python-telegram-bot = "*"
python-dotenv = "*"
telethon = "*"
events = {git = "https://github.com/IkorJefocur/python-events"}
aiohttp = "*"
pybit = {git = "https://github.com/IkorJefocur/pybit"}

[dev-packages]

[requires]
python_version = "3.10"
